@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* blue */
  /* --primary : #0d0452;  */
  --primary: 13, 4, 82;

  /* gold */
  /* --accent:#daa520; */
  --accent: 218, 165, 32;

  /* while  */
  /* --white:#ffff; */
  --white: 255, 255, 255;
  /* natural - black */
  /* --neutral:#0000; */
  --neutral: 17, 24, 39;
}

.red-theme {
  /* blue */
  /* --primary : #0d0452;  */
  --primary: 131, 34, 182;

  /* gold */
  /* --accent:#daa520; */
  --accent: 218, 165, 32;

  /* while  */
  /* --white:#ffff; */
  --white: 255, 255, 255;
  /* natural - black */
  /* --neutral:#0000; */
  --neutral: 17, 24, 39;
}
.techby-theme {
  /* blue */
  /* --primary : #0d0452;  */
  --primary: 37, 111, 184;

  /* gold */
  /* --accent:#daa520; */
  --accent: 250, 189, 75;

  /* while  */
  /* --white:#ffff; */
  --white: 255, 255, 255;
  /* natural - black */
  /* --neutral:#0000; */
  --neutral: 17, 24, 39;
}